.project-detail {
	--margin: 120px;

	margin-top: var(--margin);
	padding-inline: 2.5rem;
	padding-block-start: 0;
	padding-block-end: 2.5rem;
	position: absolute;
	width: 100%;
	height: calc(100% - var(--margin));
	top: 0;
	bottom: 0;
	z-index: 12;
	border-radius: 20px 20px 0px 0px;
	background: white;
	overflow-y: scroll;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	gap: 3.5rem;

	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	&__header {
		position: sticky;
		top: 0;
		width: 100vw;
		z-index: 10;
		padding: 2.5rem;
		background: white;
		align-self: center;
		padding-inline: 2.5rem;
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	}

	&__title {
		font-size: 2rem;
	}

	&__image {
		display: flex;
		flex-direction: column;
		border-radius: 20px;
		overflow: hidden;
		max-height: max(380px, 60vh);

		img {
			flex-grow: 1;
			min-height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		padding-inline: 2rem;

		@media screen and (min-width: 480px) {
			flex-direction: row;
			max-width: 900px;
			margin-inline: auto;
		}
	}

    &__description {
        flex-grow: 1;
        flex-basis: 320px;
        text-wrap: pretty;
        line-height: 170%;
        font-size: 1rem;
    }

    &__aside {
        flex-basis: 320px;
    }
}
