.project-page {
    &__header {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-inline: var(--section-padding--inline-small);
        padding-block-end: var(--section-padding--inline-small);
        border: 1px solid var(--border-color--base);
        border-radius: 0 0 var(--corners--radius-medium) var(--corners--radius-medium);
        min-height: 400px;
        max-height: 45vh;

        &__image-container {
            border-radius:var(--corners--radius-small);
            overflow: hidden;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            box-shadow: var(--box-shadow--glow);

            img {
                object-fit: cover;
                grid-area: 1/1;
                width: 1px;
                min-width: 100%;
                min-height: 100%;
            }
        }
    }
}