.gallery {
	position: relative;
	padding-block: 0.5rem;
	overflow: hidden;
	color: var(--background-color);
	view-timeline-name: --gallery-scroll;

	&__top-shape {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		fill: white;
	}

	&__bottom-shape {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100vw;
		fill: white;
		transform: rotate(180deg);
	}

	&__slideshow {
		display: flex;
		flex-direction: row;
		place-content: center;
		gap: 1.5rem;
		height: 100%;

		@media screen and (min-width: 480px) {
			gap: 2.5rem;
		}

		@media (prefers-reduced-motion: no-preference) {
			animation: scroll-animation linear forwards;
			animation-timeline: --gallery-scroll;
			animation-range-start: enter 50%;
			animation-range-end: enter 100%;
		}
	}

	&__slide {
		display: flex;
		flex-direction: column;
		min-width: 256px;

		@media screen and (min-width: 480px) {
			min-width: 50vw;
		}

		img {
			min-width: 100%;
			object-fit: cover;
		}
	}

	&__curves {
		&--top {
			z-index: 10;
			transform: unset !important;
			scale: 1 1.25;
			transform-origin: center top;
		}
		&--bottom {
			z-index: 10;
			rotate: 180deg !important;
			transform-origin: center bottom;
			bottom: 0;
			scale: 1 1.25;
		}
	}
}

/* Animations */
@media (prefers-reduced-motion: no-preference) {
	@keyframes scroll-animation {
		0% {
			translate: -20%;
		}
		100% {
			translate: 20%;
		}
	}
}
