
# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=M50sb41S5IA8zqqZF67Aog==,H/jiFyDrdMqNGcz92661Dg==,qy0vkELDcxrABJlCGWgkCA==,Neax517jhWQJ8WX7R1OBKw==
API_TOKEN_SALT=/leRDvgjh9CBWq16rd5/BQ==
ADMIN_JWT_SECRET=ys+sx2Y3SVKR7XULpQvqzQ==
TRANSFER_TOKEN_SALT=+N2arqnrfzTHtOFJ3hYqTw==
ENCRYPTION_KEY=9nhj6IdGHl4iDdyGnf0c3A==

# Database
DATABASE_CLIENT=sqlite
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_SSL=false
DATABASE_FILENAME=.tmp/data.db
JWT_SECRET=DWAxodEOgVQHVWeUuLPppw==
