.footer {
	--global-padding: 2rem;
	--corners: var(--radius-lg);

	color: var(--color-light);

	padding-inline: var(--global-padding);

	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: 2.5rem;

		padding: var(--global-padding);

		background-color: black;
		border-radius: var(--corners);
		border: var(--border);
		overflow: hidden;
	}

	&__work-links {
		display: flex;
		gap: var(--spacing-4);
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: stretch;

		&__content {
			display: flex;
			flex-direction: column;
			gap: var(--spacing-base);
			flex-grow: 1;
			margin-inline-end: auto;

			@media screen and (min-width: 600px) {
				max-width: clamp(40ch, 65%, 50ch);
				flex-basis: 40ch;
			}
		}

		&__content-title {
			font-size: clamp(1.25rem, 8vw, 2.5rem);
		}

		&__list {
			display: flex;
			flex-direction: column;
			gap: var(--spacing-base);
			flex-grow: 1;
			min-height: 100%;

			@media screen and (min-width: 556px) {
				flex-basis: max(550px, 50%);
				gap: var(--spacing-3);
				flex-wrap: wrap;
				flex-direction: row;
			}
		}

		&__item {
			display: flex;
			flex-grow: 1;

			flex-direction: column;
			gap: 1.5rem;

			cursor: pointer;
			border-radius: 1.25rem;
			background-color: var(--color-background);
			padding: 1rem;
			transition: background-color 0.3s ease;

			@media screen and (min-width: 556px) {
				min-height: 100%;
			}

			@media screen and (min-width: 1200px) {
				font-size: 1.5rem;
				padding: 1.5rem;
			}

			a {
				display: flex;
				flex-direction: row;
				flex-grow: 1;
				flex-wrap: wrap;
				place-items: center;
				place-content: center;
				gap: 1rem;

				@media screen and (min-width: 556px) {
					flex-direction: column;
					flex-wrap: nowrap;
					place-items: flex-start;
					place-content: space-between;
					gap: 1.25rem;
				}
			}

			&:hover {
				background-color: rgba(255, 255, 255, 1);

				.footer__social-links__item-avatar {
					background-color: rgba(0, 0, 0, 0.2);
				}
			}

			&:not(:hover) {
				.footer__social-links__item-title {
					color: white;
				}
			}
		}

		&__item-avatar {
			--size: 56px;

			display: flex;
			place-items: center;
			place-content: center;
			padding: 0.75rem;
			aspect-ratio: 1/1;
			border-radius: 999px;
			max-width: fit-content;
			height: var(--size);
			width: var(--size);

			img {
				max-width: 100%;
				max-height: 100%;
			}
		}

		&__item-title {
			flex-basis: 100%;
			text-align: center;

			@media screen and (min-width: 556px) {
				text-align: initial;
				flex-basis: unset;
			}
		}
	}

	&__contact {
		display: flex;
		flex-direction: column;
		gap: 2.5rem;
		flex-grow: 1;
		place-content: center;
		place-items: center;
		padding-block: 2.5rem;

		@media screen and (min-width: 900px) {
			padding-block: 4rem;
			flex-basis: 600px;
			padding-block: unset;
		}

		&__title {
			color: white;
			font-size: clamp(2.5rem, 9vw, 4rem);
			text-align: center;
			line-height: 120%;
		}
	}

	&__bottom {
		display: flex;
		flex-direction: column;
		place-items: center;
		gap: 1rem;
		padding-block: 1.25rem;

		@media screen and (min-width: 375px) {
			place-content: space-between;
			flex-direction: row;
		}
	}

	&__useful-links {
		display: flex;
		flex-wrap: wrap;
		place-items: center;
		justify-content: space-between;
		gap: var(--spacing-3);

		@media screen and (max-width: 980px) {
			flex-direction: column;
			flex-wrap: nowrap;
		}

		&__col {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			flex-wrap: wrap;
		}

		&__row {
			display: flex;
			flex-direction: column;
			white-space: nowrap;
			gap: 2rem;

			
			.--page-links {
				@media screen and (min-width: 768px) {
					place-items: center;
					gap: var(--spacing-3);
					flex-direction: row;
				}
				@media screen and (min-width: 680px) {
					flex-wrap: nowrap;
					min-width: 256px;
				}
			}
		}

		&__list {
			display: flex;
			flex-wrap: nowrap;
			flex-direction: row;
			gap: var(--spacing-2);
		}
	}
}
