.about {
    
    /* Layout */
    .about__layout {
        display: flex;
        flex-direction: column;
        gap: var(--section-padding--block);
    }

    /* Title */
    .about__title {
        font-size: max(2rem, 5vw);
        text-wrap: pretty;
        text-align: center;
        letter-spacing: -0.02em;
        line-height: 1;
        font-family: var(--font-heading);
    }

    /* Grid */
    .about__grid {
        --gap: 0.75rem;
        display: flex;
        flex-wrap: wrap;
        columns: clamp(2, 1dvw, 3);
        /* grid-template-columns: 0.25fr 1fr 0.5fr;
        grid-template-columns: repeat(auto-fit, minmax(256px, 1fr)); */
        gap: var(--gap);
        min-height: 45vh;

    .about__grid-col {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: var(--gap);
        width: 100%;

        @media (min-width: 768px) {
            flex:0 1 25%;
            display: grid;
            grid-direction: row;
            grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
            grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
        }
    }

    .about__grid-item {
        flex-grow: 1;
       display: flex;
       flex-grow: 1;
       flex-direction: column;
       min-width: 256px;
       aspect-ratio: 3/2;

       &[data-grid="extended"] {
        flex-grow: 3;
       }

       > * {
        flex-grow: 1;
       }
    }
    }
}