.projects-section {
    position: relative;
    padding-block-start: 0;
    overflow: clip;
    scroll-timeline: --main-scroll-timeline;


    /* Border Top */
    &:before {
        content: "";
        position: absolute;
        inset: 0;
        height: 1px;
        background-image: linear-gradient(to right,  transparent 10%, var(--border-color--alternative) 50%, transparent 90%);
        animation: show-up linear forwards;
        animation-timeline: view();
        animation-range: contain;
    }
    /* Glow */
    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background-image: radial-gradient(circle at 50% -90%,  var(--border-color--alternative) 5%, transparent 60%);
        filter: blur(40px);
        opacity: 0.25;
        z-index: 0;
        animation: show-up linear forwards;
        animation-timeline: view();
        animation-range: cover;
    }

    
    .projects-section__title {
        font-size: 12vw;
        white-space: nowrap;
        text-align: center;
        letter-spacing: -0.05em;
        line-height: 1.5;
    }

    /* Projects List */
    .projects-list {
        display: grid;
        grid-template-columns: repeat(3,minmax(50px,1fr));
        gap: .725rem;
        
        .projects-list__item {
            display: flex;
            flex-direction: column;

            &:first-child {
              grid-column: span 2;
            }
            &:last-child {
              grid-column: span 1;
            }
        }

        .project-card {
            min-height: max(50vh, 450px);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
            border-radius: var(--corners--radius-small);
            background-color: var(--background-color--base);
            border: 1px solid var(--border-color--base);
        }
    }
}

/* Animations */
@keyframes show-up {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}