.services-section {
    .services-section__layout {
        display: flex;
        flex-direction: column;
        gap: 0px;
    }
    .services-section__title {
         font-size: 12vw;
        white-space: nowrap;
        text-align: center;
        letter-spacing: -0.05em;
        line-height: 1;
        transform: translateY(25%);
    }
    .services-section__container {
        --top-radius: 5vw;
        border-radius: var(--top-radius);
        position: relative;
        background-color: var(--background-color--base);
        padding: max(2rem, 5vw);
        z-index: 2;

        @media (max-width: 765px) {
            --top-radius: 10vw;
            width: 100dvw;
            justify-self: center;
        }

        /* Shadow */
        &::before {
            content: "";
            position: absolute;
            /* top: 0; */
            inset: 0;
            /* width: 80%; */
            height: 50%;
            top: -15%;
            background-color: var(--background-color--alternative);
            z-index: -1;
            border-radius: inherit;
            filter: blur(100px);
            transform-origin: center bottom;
            transform: scale(0.65);
            mix-blend-mode: overlay;
        }

        /* Border */
           &::after {
            --stroke: 1px;
            content: "";
            position: absolute;
            inset: calc(var(--stroke) * -1);
            background-image: linear-gradient(to bottom, var(--background-color--alternative),transparent  );
            border-radius: inherit;
            z-index: -1;
            mix-blend-mode: overlay;
            opacity: 0.25;
        }

        /* Tabs */
        .services-section__tabs {
            display: flex;
            flex-direction: column;
            gap: 5vw;

            @media (min-width: 765px) {
                flex-direction: row;
            }

            [data-tab-menu] {
                display: flex;
                flex-direction: row;
                scroll-snap-type: x mandatory;
                overflow-x: auto;
                gap: .5rem;
                align-self: stretch;
                
                @media (min-width: 765px) {
                    order: 1;
                    overflow-x: unset;
                    flex-direction: column;
                    scroll-snap-type: unset;
                    align-self: stretch;
                    flex-basis: 20%;
                    flex-shrink: 0;
                    width: 0px;
                }

                [data-tab-link] {
                    /* aspect-ratio: 1/1; */
                    height: 1px; 
                    flex-grow: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border-radius: var(--corners--radius-medium);
                    border: 1px solid var(--border-color--base);
                    padding: 1.5rem;
                    cursor: pointer;
                    color: var(--text-color--light);
                    scroll-snap-align: center;
                    text-wrap: wrap;

                    img {

                        width: 1px;
                        min-width: 100%;
                        flex-grow: 1;
                        object-fit: contain;
                        border-radius: var(--corners--radius-medium);
                    }

                    span {
                        font-size: 0.875rem;
                        font-weight: 600;
                        text-align: center;
                        line-height: 1.2;
                    }


                    /* States */
                    &[data-tab-active="true"] {
                        background-color: var(--background-color--alternative);
                        color: var(--text-color--alternative);
                    }
                }
            }

            [data-tab-panel] {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;
                gap: 1rem;
                flex-grow: 1;
                /* overflow: hidden; */
            }

            [data-tab-item] {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                grid-area: 1 / 1;

                @media (min-width: 765px) {
                    display: flex;
                    flex-direction: row-reverse;
                    gap: 1rem;
                    grid-area: 1 / 1;
                }

                [data-tab-image] {
                    flex-grow: 1;
                    flex-basis: 75%;
                    display: flex;
                    flex-direction: row;

                    img {
                        width: 1px;
                        min-width: 100%;
                        flex-grow: 1;
                        object-fit: contain;
                    }
                }

                [data-tab-content] {
                    display: flex;
                    flex-direction: column;
                    place-items: center;
                    justify-content: center;
                    gap: 1rem;
                    flex-grow: 1;
                    flex-basis: 30ch;
                }
            }
        }
    }
}