.services-form {
    display: flex;
	flex-direction: column;
	gap: 1.25rem;
	color: var(--color-text);

	&__wrapper {
		display: grid;
		gap: 0.75rem;
		grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
	}

	&__group {
		--background: #fff;

		display: flex;
		flex-direction: column;
		position: relative;

		place-items: center;
		place-content: center;

		gap: 1.25rem;
		border-radius: 20px;
		padding: 0.75rem;
		background-color: var(--background);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
		min-height: 120px;
		
		will-change: box-shadow;
		transition: box-shadow 0.3s ease, background-color 0.3s ease;
		
		cursor: pointer;
		
		@media screen and (min-width: 960px) {
			aspect-ratio: 1/1;
		}

		// STATES
		&:not(:has(input:checked)) {
			--background: #f3f4f7;

			.active-light {
				--background: #f3f4f7;
			}
		}
		&:is(:hover, :has(input:checked)) {
			--shadow-1: 0px 5px 11px 0px rgba(0, 0, 0, 10%);
			--shadow-2: 0px 21px 21px 0px rgba(0, 0, 0, 0.09);
			--shadow-3: 0px 46px 28px 0px rgba(0, 0, 0, 0.05);
			--shadow-4: 0px 82px 33px 0px rgba(0, 0, 0, 0.01);
			--background: #fff;

			box-shadow: var(--shadow-1), var(--shadow-2), var(--shadow-3),
				var(--shadow-4);
		}

		input {
			display: none;
		}

		.active-light {
			--background: hsla(120, 100%, 50%, 1);
			--size: 12px;

			position: absolute;

			top: 0.875rem;
			left: 0.875rem;

			min-width: var(--size);
			min-height: var(--size);
			border-radius: 999px;
			background-color: var(--background);
			align-self: flex-start;
			justify-self: start;
		}

		@media screen and (min-width: 768px) {
		}
	}

	&__actions {
		display: flex;
		flex-direction: column;
		place-content: center;
		place-items: center;
		gap: 1.25rem;
	}

	&__submit {
		--background: #313131;
		--size: 56px;

		min-width: var(--size);
		min-height: var(--size);
		display: flex;
		align-items: center;
		padding-inline: 2.5em;
		border-radius: 999px;
		background-color: var(--background);
		color: white;
	}

	&__reset {}
}
