.navbar-actions {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;
	justify-content: flex-end;
	position: relative;

	button {
		cursor: pointer;
	}

	.contact-form {
		--offset: 1rem;
		position: absolute;
		top: calc(100% + var(--offset));
		right: 0;
		border-radius: var(--radius-md);
		background-color: var(--background-color--base);
		padding: 1rem;
		box-shadow: var(--box-shadow--md);
		z-index: 10;
		transform: translateX(0%);
		transition: all 0.3s var(--anim-easing);
		filter: blur(0px);

		&[data-open="false"] {
			transform: translateX(10%);
			opacity: 0;
			filter: blur(10px);
			visibility: hidden;
			pointer-events: none;
		}
	}
}
