.experience-section {
  position: relative;
  background: var(--background-color--alternative);
  color: var(--text-color--alternative);
  padding-block: var(--section-padding-block);

  .layout {
    display: flex;
    flex-direction: reverse;
    gap: var(--section-padding--block-tiny);

    @media screen and (min-width: 667px) {
      gap: var(--section-padding-block);
      grid-template-columns: 1fr 2fr;
      grid-auto-columns: 1fr;
      grid-auto-flow: column;
      display: grid;
    }
  }

  .details {
    display: none;
    @media screen and (min-width: 667px) {
      display: flex;
      flex-direction: column;
      gap: var(--section-padding-block);
    }

    /* justify-content: space-between; */

    .header_details {
      display: flex;
      flex-direction: column;
      gap: var(--section-padding--block-tiny);

      @media screen and (min-width: 667px) {
        position: sticky;
        gap: var(--section-padding-block);
        top: 50%;
        /* transform: translateY(-25%); */
        /* padding-block-end: var(--section-padding-block); */
      }
    }

    .header_year {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;

      > * {
        grid-area: 1 / 1;
      }
    }

    [data-target="years-default"] {
      font-size: max(3rem, 12vw);
      position: relative;

      &:before {
        content: attr(data-year);
        position: absolute;
        font-size: 35vw;
        opacity: 0.03;
        line-height: 1;
        top: 50%;
        transform: translateY(-50%);
        mask-image: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 1) 30%,
          transparent
        );
        pointer-events: none;
      }
    }

    .experience_years {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;

      > * {
        grid-area: 1 / 1;
        font-size: max(3rem, 12vw);
      }

      [data-target="year"] {
        position: relative;

        &:before {
          content: attr(data-year);
          position: absolute;
          font-size: 35vw;
          opacity: 0.03;
          line-height: 1;
          top: 50%;
          transform: translateY(-50%);
          mask-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 1) 30%,
            transparent
          );
          pointer-events: none;
        }
      }
    }
  }

  .title {
    text-wrap: pretty;
    letter-spacing: -0.02em;
    font-size: clamp(2rem, 5vw, 4rem);
    line-height: 1.125;
    font-family: var(--font-heading);
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: var(--section-padding-block);
  }

  /* Experience Table */

  .experience_table {
    @media screen and (max-width: 667px) {
      [data-category="industry"] {
        display: none;
      }
    }

    [data-target="row"] {
      position: relative;
      &:before {
        content: "";
        z-index: -1;
        background-color: rgba(from currentColor r g b / 10%);
        transition: transform var(--anim-duration--sm) var(--anim-easing);
        position: absolute;
        inset: 0;
        min-height: calc(var(--progress, 0) * 1%);
        /* transform: translateY(var(--translation)); */
      }
    }
  }

  /* Indicator */
  .indicator {
    display: none;
    @media screen and (min-width: 667px) {
      display: flex;
      flex-direction: column;
      place-items: center;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0.5rem;
    }

    .indicator_list {
      --width: 20px;

      display: flex;
      flex-direction: column;
      align-items: flex-end;
      position: sticky;
      top: 50%;
      gap: 0.25rem;
      transform: translateY(-50%);

      &:not(:has([data-selected="true"])) {
        --width: 10px;
      }

      &:has([data-selected="true"]) {
        [data-selected]:not([data-selected="true"]) {
          opacity: 0.25;
        }
      }
    }

    .indicator_item {
      width: var(--width);
      height: 2px;
      background: currentColor;
      transition: width var(--anim-duration--sm) var(--anim-easing);

      &[data-selected="true"] {
        width: calc(var(--width) * 2);
      }
    }
  }
}
