.selected-work {
    --background-color: #101214;

    background-color: var(--background-color);
    color: white;
    position: relative;

    .section-header {
        display: flex;
        gap: 2.5em;
        padding-block-end: 2.5rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);

        .section-label__icon {
            --background: rgba(255, 255, 255, 0.95);
        }

        @media screen and (min-width: 480px) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-end;
            
        }

        &__heading {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    }

    &__curves {
        
        &--top {
            --initialScale: 1.25;
            --progress: calc(var(--initialScale) - calc(var(--scaleY) * var(--initialScale)) );

            scale: 1 var(--progress);
            transform-origin: top;
            transform: unset!important;
            transition: scale 0s ease-out;
        }
        &--bottom {
            --initialScale: 1;
            --progress: calc(var(--initialScale) + calc(var(--scaleY) * var(--initialScale)) );

            scale: 1 var(--progress);
            transform-origin: bottom;
            transition: scale 0s ease-out;
        }
    }
}