.tools-bar {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	border-radius: calc(var(--corners--radius-small) * 2);
	border: 1px solid var(--border-color--base);
	background-color: var(--background-color--base);
	box-shadow: var(--box-shadow--sm);
	background-color: hsl(223, 24%, 95%);
	transition: all var(--anim-duration--sm) linear;

	&:is(:hover, :focus-within) {
		box-shadow: var(--box-shadow--glow);
	}

	&__dialog {
		padding: 0.5rem;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		color: var(--text-color--dark);


		&-header {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: .25rem;

			.dialog-header_icon {
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: var(--corners--radius-small);
				background-color: var(--background-color--base);
				border-radius: 0.25rem;
				padding: 0.15rem;
				width: 20px;
				height: 20px;
			}

			.dialog-header_title {
				font-size: .75rem;
				font-weight: var(--font-weight--bold);
				text-transform: uppercase;
				letter-spacing: 0.05em;
				line-height: 1;
			}

		}

		&-stack {
			display: flex;
			flex-direction: row;
			gap: 1rem;
			border-radius: var(--corners--radius-small);
			background-color: var(--background-color--base);
			border: 1px solid var(--border-color--base);
			padding: 0.5rem;
			box-shadow: var(--box-shadow--sm);
		}
	}

	.tools__list {
		display: flex;
		padding: 0.5rem;
		flex-direction: row;
		gap: 1rem;
		overflow-x: auto;
		scrollbar-width: none;
		-ms-overflow-style: none;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	.tools__item {
		--size: 3.5rem;
		display: flex;
		flex-direction: row;
		gap: 1rem;
		min-width: var(--size);
		min-height: var(--size);
		border-radius: var(--corners--radius-small);
		border: 1px solid var(--border-color--base);
		padding: 0.5rem;
		background-color: var(--background-color--light);
		box-shadow: var(--box-shadow--sm);
		outline: 0px solid var(--border-color--base);
		transition: all 0.15s linear;

		&:is(:hover, :focus, [data-selected="true"]) {
			outline-width: 5px;
		}
	}
}
