.project-detail {
	--margin: 120px;

	margin-top: var(--margin);
	padding: 2.5rem;
	position: absolute;
	width: 100%;
	height: calc(100% - var(--margin));
	top: 0;
	bottom: 0;
	z-index: 12;
	border-radius: 20px 20px 0px 0px;
	background: white;
	overflow-y: scroll;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	gap: 3.5rem;

	.container {
		--container-size: 900px;
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	&__details-wrapper {
		--padding: var(--spacing-2);

		display: grid;
		border: 1px solid rgba(0, 0, 0, 0.05);
		gap: var(--padding);
		padding-inline: var(--padding);
		padding-block: max(var(--spacing-1), calc(var(--padding) / 2));
		border-radius: var(--radius-md);
		grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));

		@media screen and (min-width: 768px) {
			grid-template-columns: repeat(auto-fit, minmax(max(120px, 10%), 1fr));
		}

		&__col {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			gap: var(--spacing-1);
		}

		&__title {
			font-size: 0.875rem;
		}
	}

	.project__header {
		--spacing: unset;
		padding: unset;
		position: static;
		max-width: 100%;
		width: 100%;

		.action_wrapper {
			display: flex;
			flex-direction: row;
			gap: 2rem;
		}
	}

	&__title {
		font-size: 2rem;
	}

	&__image {
		display: flex;
		flex-direction: column;
		border-radius: 20px;
		overflow: hidden;
		max-height: max(380px, 60vh);

		@media screen and (min-width: 768px) {
			max-height: 600px;
		}

		img {
			flex-grow: 1;
			min-height: 100%;
			min-width: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	&__content-wrapper {
		display: flex;
		flex-direction: column;
		gap: 3rem;

		@media screen and (min-width: 768px) {
			flex-direction: row;
			padding-block-end: 2.5rem;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 1.25rem;
		flex-grow: 1;

		@media screen and (min-width: 768px) {
			flex-basis: 600px;
		}
	}

	&__description {
		font-size: clamp(1.5rem, 5vw, 3.5rem);
		text-wrap: pretty;

		@media screen and (min-width: 768px) {
			font-size: min(5vw, 2.5rem);
		}
	}

	&__aside {
		display: flex;
		gap: 1.25rem;
		flex-direction: column;

		@media screen and (min-width: 768px) {
			flex-basis: 320px;
		}

		&__block {
			display: flex;
			flex-direction: column;
			gap: 0.75rem;
		}
	}

	// Gallery
	&__gallery {
		--gap: 2rem;
		display: flex;
		flex-wrap: wrap;
		gap: var(--gap);

		@media screen and (min-width: 768px) {
			> * {
				flex-grow: 1;
				flex-basis: calc((100% / var(--columns)) - var(--gap) * var(--columns));
			}
		}
	}

	&__gallery-column {
		display: flex;
		flex-direction: column;
		gap: var(--gap);
		align-items: stretch;
	}

	&__gallery-item {
		flex-grow: 1;
		display: flex;
		gap: var(--gap);
		flex-direction: column;
		align-items: stretch;
		border-radius: var(--radius-lg);
		overflow: hidden;

		img {
			height: 100%;
			max-height: 100%;
			object-fit: cover;
		}
	}
	// &__gallery {
	// 	display: grid;
	// 	grid-auto-columns: 1fr;
	// 	grid-template-columns: 1fr 1fr;
	// 	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	// 	gap: 24px 24px;
	// 	grid-template-areas:
	// 		"Aria-2 Aria-1"
	// 		"Aria-2 Aria-1"
	// 		"Aria-3 Aria-1"
	// 		"Aria-3 Aria-4"
	// 		"Aria-3 Aria-4"
	// 		"Aria-6 Aria-5"
	// 		"Aria-6 Aria-5"
	// 		"Aria-6 Aria-Final";
	// }

	// &__gallery-item {
	// 	display: flex;
	// 	flex-direction: row;
	// 	align-items: stretch;
	// 	border-radius: var(--radius-lg);
	// 	overflow: hidden;

	// 	// Grid Order
	// 	&:first-child {
	// 		grid-area: Aria-1;
	// 	}
	// 	&:nth-child(2) {
	// 		grid-area: Aria-2;
	// 	}
	// 	&:nth-child(3) {
	// 		grid-area: Aria-3;
	// 	}
	// 	&:nth-child(4) {
	// 		grid-area: Aria-4;
	// 	}
	// 	&:nth-child(5) {
	// 		grid-area: Aria-5;
	// 	}
	// 	&:nth-child(6) {
	// 		grid-area: Aria-6;
	// 	}
	// 	&:last-child {
	// 		grid-area: Aria-Final;
	// 	}

	// 	img {
	// 		width: 100%;
	// 		max-width: 100%;
	// 		object-fit: cover;
	// 	}
	// }
}
