.about-page {
	display: flex;
	flex-direction: row;
	padding-block-end: var(--section-padding--block-small);
	padding-block-start: var(--navbar-height);

	.about-layout {
		--spacing: 1rem;
		display: flex;
		flex-direction: column;
		gap: var(--spacing);
		width: 100%;
		min-height: 100%;
		margin: 0 auto;
		grid-template-columns: 1fr;

		&__side {
			display: flex;
			top: 2rem;
			// height: fit-content;
		}

		&__main {
			display: none;
		}

		@media (min-width: 768px) and (max-width: 1024px) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: auto;

			&__side {
				position: sticky;
			}

			&__side:first-child {
				position: sticky;
				grid-row: span 2;
			}

			&__main {
				display: flex;
				grid-column: 2 / -1;
				grid-row: 1 / 2;
			}
			&__side:last-child {
				grid-column: 2 / -1;
				grid-row: 2 / -1;
			}
		}

		// Desktop - three column layout
		@media (min-width: 1024px) {
			display: grid;
			grid-template-columns: 350px 1fr 350px;
			height: 1px;
			overflow: hidden;
			min-height: 100%;

			// height: calc(100vh - 4rem); // Account for padding

			&__main {
				display: flex;
				position: relative;
				box-shadow: var(--box-shadow--glow);
				border: 1px solid var(--border-color--base);
				border-radius: var(--corners--radius-medium);
				flex-grow: 1;
				display: flex;
				gap: 4rem;
				flex-direction: column;
				padding: var(--section-padding--inline-medium);
				flex-grow: 1;
				height: 1px;
				min-height: 100%;
				overflow-y: auto;
			}
		}
	}

	> .about-page__block {
		border-radius: var(--corners--radius-medium);
		border: 1px solid var(--border-color--base);
		padding: 1.25rem;
		box-shadow: inset 0 0 4px -2px #fff;
	}

	@media (min-width: 1024px) {
		height: 100dvh;
		min-height: 100%;
		overflow: hidden;
	padding-block-end: var(--section-padding--inline-small);

	}
}
