.services {
	background-color: var(--color-background-light);
	overflow: clip;
	height: 150vh;

	@media screen and (min-width: 768px) {
		.section-header__subtitle {
			// margin-block-start: calc(var(--section-label-size) + 2rem);
		}
	}

	&__container {
		position: sticky;
		top: 90px;
	}

	&__wrapper {
		display: flex;
        flex-direction: column;
        gap: 6rem;
	}

	&__header {
		display: flex;
		flex-direction: column;
		gap: 0.75rem;
		text-align: center;
		align-items: center;
	}

	&__list {
		display: flex;
		flex-direction: row;
		gap: 1.5rem;

		> * {
			flex-grow: 1;
			flex-shrink: 0;
			flex-basis: clamp(256px, 50vw, 300px);
		}
	}
}