.hero {
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding-block-start: 10rem;
	padding-block-end:4rem;
	padding-inline: 2.5rem;

	position: relative;
	overflow: hidden;

	&__container {
		display: flex;
		gap: 4rem;
		flex-direction: column;
		place-content: center;
		place-items: center;
		z-index: 1;

		gap: 6rem;

		@media screen and (min-width: 768px) {
		}
	}

	&__heading-wrapper {
		display: flex;
		flex-direction: column;
		text-align: center;
		flex-grow: 1;
		flex-shrink: 0;
		width: 100%;
	}

	&__label {
		--size: 32px;

		display: flex;
		place-content: center;
		place-items: center;
		align-self: center;

		border-radius: var(--radius-rounded);
		border: 1px solid rgba(255, 255, 255, 0.1);
		
		padding-inline: var(--spacing-2);
		min-height: var(--size);
	}
	&__title {
		display: flex;
		flex-direction: column;
		place-items: center;
		font-size: clamp(3rem, 12vw, 7.5rem);
		text-wrap: balance;
		font-weight: 300;

		@media screen and (min-width: 768px) {
			font-size: min(9vw, 7.5rem);
		}
	}

	&__details {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		flex-grow: 1;
		place-items: center;

		p {
			font-size: 1.25rem;
			font-weight: 400;
			text-wrap: pretty;
		}

		.button {
			--size: 48px;
			padding-inline: 3em;
			font-size: 0.75rem;
			
			@media screen and (min-width: 768px) {
				--size: 56px;
				font-size: 0.875rem;
			}
		}


	}
}
// .hero {
//     --background-color: #101214;

//     background-color: var(--background-color);
//     color: white;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     padding-block-start: 7.5rem;
//     padding-block-end: 15rem;
//     padding-inline: 2.5rem;

//     &__container {
//         display: flex;
//         flex-direction: column;

//         gap: 2rem;

//         @media screen and (min-width: 768px) {
//             flex-direction: row;
//             align-items: flex-end;
//         }
//     }

//     &__heading-wrapper {
//         flex-grow: 1;
//         flex-shrink: 0;
//         flex-basis: 75%;
//     }

//     &__title {
//         font-size: clamp(3rem,12vw,7.5rem);
//         text-wrap: balance;

//         @media screen and (min-width: 768px) {
//             font-size: min(9vw, 7.5rem);
//         }
//     }

//     &__details {
//         // flex-basis:  256px;
//         line-break: strict;
//         text-wrap: pretty;

//         h2 {
//             font-size: 1.25rem;
//             font-weight: normal;
//         }
//     }
// }
