.contact-button {
    --size: 40px;

    border-radius: var(--radius-rounded);
    background-color: var(--color-background);
    color: var(--color-white);
    border: var(--border);
    min-width: var(--size);
    min-height: var(--size);
    padding-inline: 2em;
    font-size: 0.875rem;
    line-height: 1.75rem;
    text-align: center;
}