:root {
    /* Fonts */
    --font-family-primary: 'Roboto', sans-serif;
    --font-family-secondary: 'Arial', sans-serif;
  
    /* Spacing */
    --spacing-base: 16px;
    --spacing-1: calc(var(--spacing-base) / 2);
    --spacing-2: var(--spacing-base);
    --spacing-3: calc(var(--spacing-base) * 2);
    --spacing-4: calc(var(--spacing-base) * 3);
    --spacing-5: calc(var(--spacing-base) * 4);
    --spacing-6: calc(var(--spacing-base) * 5);

    /* Paddings */
    --padding-base: 16px;
    --padding-small: calc(var(--padding-base) / 2);
    --padding-medium: var(--padding-base);
    --padding-large: calc(var(--padding-base) * 2);

    --padding-inline-mobile: 1.5rem;
    --padding-block-mobile: 2.5rem;
    --padding-inline-tablet: 2.5rem;
    --padding-block-tablet: 5rem;
    --padding-inline-desktop: 4rem;
    --padding-block-desktop: 7.5rem;
  
    /* Colors */
    --color-primary: #007bff;
    --color-secondary: #6c757d;
    --color-text: #333333;
    --color-light: hsl(0, 0%, 90%);
    --color-background: #101214;
    --color-background-light: #EBECEF;

    /* Sizes */
    --header-height: 64px;
    --button-size: 48px;
    --input-size: 48px;
    --container-size: 1200px;
    --section-label-size: 2.5rem;
  
    /* Breakpoints */
    --breakpoint-xs: 0px;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;

    /* Corners */
    --radius-sm: 4px;
    --radius-md: 12px;
    --radius-lg: 20px;
    --radius-rounded: 999px;

    /* Navbar */
    --navbar-size: 90px;

    /* Shadows */
    --box-shadow-sm: 0px 0px 14px 0px rgba(255, 255, 255, 255, 0.3);
    --box-shadow-md: 0px 0px 0px 2px rgba(0, 0, 0, 0.5);
    --box-shadow-lg: 0px 0px 0px 4px rgba(0, 0, 0, 0.5);
    --box-shadow-xl: 0px 0px 0px 8px rgba(0, 0, 0, 0.5);
  }