.hero {
    --background-color: #101214;
    
    background-color: var(--background-color);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__container {
        display: flex;
        flex-direction: column;
        
        gap: 2rem;
        
        @media screen and (min-width: 768px) {
            flex-direction: row;
            align-items: flex-end;
        }
    }

    &__heading-wrapper {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 75%;
    }
    
    &__title {
        font-size: clamp(3rem,12vw,7.5rem);
        text-wrap: balance;

        @media screen and (min-width: 768px) {
            font-size: min(9vw, 7.5rem);
        }
    }

    &__details {
        // flex-basis:  256px;
        line-break: strict;
        text-wrap: pretty;
    }
}