.about {
	color: var(--color-light);
	z-index: 1;
	
	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: 3rem;

		@media screen and (min-width: 768px) {
			flex-direction: row;
		}
	}

	.divider {
		--back-color: white;
	}

	&__header {
		display: flex;
		flex-direction: column;
		place-items: center;
		place-content: center;

		@media screen and (min-width: 768px) {
			flex-basis: 680px;
			flex-grow: 1;
			min-height: 100%;
		}
	}

	&__title {
		font-size: clamp(1.875rem, 5vw, 2.5rem);
		text-wrap: pretty;

		@media screen and (min-width: 768px) {
			position: sticky;
			top: 90px;
		}
	}

	&__services {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
		color: var(--color-light);

		@media screen and (min-width: 1200px) {
			flex-basis: 380px;
		}
	}

		
	&__services-title {
		font-size: 1.5rem;
	}
}
