.loading-curtain {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color--base);
  z-index: 999;
  display: flex;
  flex-direction: column;

  .layout {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  /* Loading Bar */
  .loading-bar {
    --progress: 0%;
    width: 10rem;
    height: 0.125rem;
    background-color: hsl(from var(--background-color--base) h s 20%);
    position: relative;

    .loading-bar_progress {
      position: absolute;
      inset: 0;
      background-color: currentColor;
      max-width: var(--progress);
    }
  }
}
