.banner {
	display: flex;
	padding-block: unset;
	font-size: 0.875rem;
	line-height: 100%;
	place-items: center;
	place-content: center;
	color: var(--color-light);

	&__layout {
		display: flex;
		gap: 1.25rem;
		place-items: center;
		place-content: center;
		justify-content: space-between;

		@media screen and (min-width: 768px) {
			flex-direction: row;
		}
	}

	&__worldwide {
		display: flex;
		flex-direction: row;
		place-items: center;
		gap: 0.5rem;

		.icon {
			--size: 2em;

			height: var(--size);
			width: var(--size);
			transform: scale(1);
			border-radius: 999px;
			background: var(--color-background-light);
			transition: height 0.2s ease, width 0.2s ease;
		}
	}

	&__worldwide-icon {
		--size: 2em;
		height: var(--size);
		width: var(--size);
	}

	&__location {
		display: grid;
		grid-column: 1fr;
		grid-auto-rows: 1fr;
		max-height: 1rem;
		overflow: hidden;

		@media screen and (min-width: 768px) {
			span {
				transition: transform 0.25s ease;
			}

			&:hover {
				span {
					transform: translateY(-100%);
				}
			}
		}
	}
	&__availability {
		--light-color: inherit;
		--text-color: inherit;

		display: flex;
		gap: 0.5rem;
		place-items: center;
		color: var(--text-color);

		&[data-availability="true"] {
			--light-color: #43ff43;
			--text-color: #1b661b;
		}
		&[data-availability="false"] {
			--light-color: #798286;
			--text-color: #53595c;
		}

		span {
			color: var(--text-color);
		}

		.dot-light {
			--size: 0.5rem;

			height: var(--size);
			width: var(--size);
			border-radius: 999px;
			background-color: var(--text-color);
		}
	}
}
