.navbar {
    --color: black;

    position: sticky;
    top: 0;
    padding-inline: 2rem;
    padding-block: 1rem;
    color: var(--color);
    z-index: 100;
    // background-color: rgba(255,255,255,0.5);
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-block-end: calc(var(--navbar-size) * -1);
    
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__action {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }
}