/* Avatar Dropdown */
.avatar-dropdown {
	position: relative;
	z-index: 999;
	border-radius: 2.125rem;

	@media screen and (min-width: 600px) {
		border-radius: 1.5rem;
	}

	// Background
	&::before {
		box-sizing: border-box;
		content: "";
		display: block;
		position: absolute;
		inset: 0;
		height: var(--background-size, 48px);
		will-change: max-width;
		transition: max-width 1.2s ease-in;
		max-width: 1000px;
		border-radius: inherit;
		z-index: -1;
		pointer-events: none;
		background-color: var(--background-color--base);
		border: 1px solid var(--border-color--base);
	}

	&[data-expanded="true"] {
		.avatar-dropdown__button {
			border-color: var(--border-color--base);

			svg {
				max-width: 1000px;
			}
		}
	}

	&__button {
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
		padding: 0.25rem;

		svg {
			will-change: max-width;
			transition: max-width 1.2s ease-in;
			max-width: 1000px;
		}

		&:hover {
			border-color: var(--border-color--base);
		}

		&:not(:hover) svg {
			transition-duration: 0.8s;
			transition-timing-function: ease;
			max-width: 0px;
		}
	}

	&__avatar {
		--avatar-size: 4rem;

		width: var(--avatar-size);
		height: var(--avatar-size);
		border-radius: var(--corners--radius-round);
		border: 1px solid var(--border-color--base);
		background-color: var(--background-color--alternative);
		overflow: hidden;

		@media screen and (min-width: 600px) {
			--avatar-size: 2.5rem;
		}
	}

	&__menu {
		display: flex;
		position: absolute;
		color: var(--text-color--font);
		padding: 1rem;
		z-index: 10;
		min-width: 256px;
		gap: 1.25rem;
		flex-direction: column;
		z-index: 999;

		&[hidden] {
			pointer-events: none;
		}

		[initialize] {
			> * {
				opacity: 0;
				visibility: hidden;
			}
		}
	}

	&__menu-block {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}

	&__menu-link {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		transition: all 0.2s ease;

		&:not(:hover) {
			gap: 0;
			&::before {
				transform: scale(0);
			}
		}

		&::before {
			--dot-size: 0.25rem;
			content: "";
			width: var(--dot-size);
			height: var(--dot-size);
			border-radius: var(--corners--radius-round);
			background-color: currentColor;
			display: block;
			flex-shrink: 0;
			transform: scale(1) translateX(0%);
			transition: all 0.5s ease;
		}
	}

	&__menu-list {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}

	&__menu-list-item {
		flex-grow: 1;
		font-size: var(--font-size--regular);
	}

	&__menu-title {
		font-size: var(--font-size--tiny);
		text-transform: uppercase;
		color: var(--text-color--gray);
	}

	&__menu-actions {
		display: flex;
		padding-top: 1rem;

		> * {
			flex-grow: 1;
			max-width: unset;
		}
	}
}
