.button {
    --color: inherit;
    --size: 40px;

    display: flex;
    align-items: center;
    max-width: fit-content;
    white-space: nowrap;
    font-size: 0.75rem;
    line-height: 100%;
    min-width: var(--size);
    min-height: var(--size);
    padding-inline: 2em;
    border: 1px solid var(--color, white);
    border-radius: 999px;
    overflow: hidden;
}