.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	max-height: 1024px;
	height: max(600px, calc(100dvh - var(--navbar-size)));

	position: relative;
	overflow: hidden;

	&__container {
		display: flex;
		gap: 4rem;
		flex-direction: column;
		place-content: center;
		place-items: center;
		z-index: 1;

		@media screen and (min-width: 768px) {
		}
	}

	&__heading-wrapper {
		display: flex;
		flex-direction: column;
		text-align: center;
		flex-grow: 1;
		flex-shrink: 0;
		width: 100%;
		gap: 1rem;
	}

	&__label {
		--size: 32px;

		display: flex;
		place-content: center;
		place-items: center;
		align-self: center;

		border-radius: var(--corners--radius-round);
		border: var(--border);

		padding-inline: 1em;
		min-height: var(--size);

		backdrop-filter: blur(10px);
		box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 10px 0px,
			rgba(0, 0, 0, 0.05) 0px 4px 4px 0px,
			rgba(255, 255, 255, 0.1) 0px 1px 22px 0px,
			rgba(197, 204, 255, 0.2) 0px 0px 20px 0px inset,
			rgba(198, 219, 255, 0.35) 0px 1px 3px 0px inset;
		opacity: 1;
	}

	&__title-wrapper {
		background-clip: text;
		background-image: linear-gradient(
			92.3243deg,
			var(--text-color--alternative) 0%,
			var(--text-color--font) 100%
		);
		padding-bottom: 0.5em;
	}

	&__title {
		display: flex;
		flex-direction: column;
		place-items: center;
		font-size: clamp(3rem, 12vw, 7.5rem);
		text-wrap: balance;
		color: transparent;
		font-weight: 600;
		line-height: 1.15;
		min-width: fit-content;

		@media screen and (min-width: 768px) {
			font-size: min(9vw, 7.5rem);
		}
	}

	&__details {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		flex-grow: 1;
		place-items: center;
		text-align: center;

		p {
			font-size: 1.25rem;
			font-weight: 400;
			text-wrap: pretty;
		}
	}
}
