.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	max-height: 100vh;

	&__frame {
		border: 1px solid var(--border-color--base);
		aspect-ratio: 16/9;
		border-radius: var(--corners--radius-medium);
		padding: 0.5rem;
		display: flex;
		gap: 0.5rem;
		flex-direction: column;
		width: 100%;
	}

	&__frame-top-bar {
		display: flex;
		place-content: space-between;
		place-items: center;
		gap: 1rem;
		padding-inline: 0.25rem 0.75rem;

		// Actions
		&__actions {
			display: flex;
			place-items: center;
			gap: 1rem;
		}

		&__sidebar-button {
			--button-size: 40px;

			display: flex;
			place-content: center;
			place-items: center;
			border-radius: var(--corners--radius-small);
			border: 1px solid transparent;
			width: var(--button-size);
			height: var(--button-size);
			cursor: pointer;

			&:hover {
				border: 1px solid var(--border-color--base);
				background-color: var(--background-color--base);
			}

			&[aria-expanded="true"] {
				border: 1px solid var(--border-color--base);
			}
		}

		// Menu
		&__menu {
			border-radius: var(--corners--radius-round);
			border: 1px solid var(--border-color--base);
			padding: 0.25rem;
			display: flex;
			font-size: var(--font-size--small);
		}

		&__menu-link {
			--link-size: 32px;

			padding-inline: 0.75rem;
			line-height: 0.5;
			min-height: var(--link-size);
			display: flex;
			place-content: center;
			place-items: center;
			border-radius: inherit;

			&:hover {
				box-shadow: var(--box-shadow--glow);
			}
		}

		// About
		&__about {
		}

		&__avatar {
			--avatar-size: 2.5rem;

			width: var(--avatar-size);
			height: var(--avatar-size);
			border-radius: var(--corners--radius-round);
			border: 1px solid var(--border-color--base);
			background-color: var(--background-color--alternative);
		}
	}

	// Frame Container Wrapper
	&__frame-container-wrapper {
		display: flex;
		flex-direction: row;
		flex-grow: 1;
	}
	// Frame Nav
	&__frame-nav-wrapper {
		display: flex;
		flex-direction: column;
		flex-shrink: 0;
		overflow: hidden;
		transition: max-width 2s cubic-bezier(0.22, 1, 0.36, 1);

		&[aria-expanded="false"] {
			max-width: 0;
			transition-duration: 1s;
		}
		&[aria-expanded="true"] {
			max-width: 1000px;
		}
	}
	&__frame-nav {
		flex-grow: 1;
		padding-block-start: var(--section-padding--inline-small);
		padding-inline-end: var(--section-padding--inline-small);
		display: flex;
		flex-direction: column;
		gap: var(--section-padding--block-xSmall);
		min-width: max-content;
		// white-space: nowrap;

		&__block {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;

			&--switch-theme {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				margin-block-start: auto;
				padding: 0.25rem;
				border-radius: var(--corners--radius-round);
				border: 1px solid var(--border-color--base);
			}
		}

		&__switch-button {
			--button-size: 32px;

			border-radius: inherit;
			border: 1px solid transparent;
			display: flex;
			place-content: center;
			place-items: center;
			cursor: pointer;
			min-width: var(--button-size);
			min-height: var(--button-size);

			&:hover {
				border-color: var(--border-color--base);
			}

			&[aria-selected="true"] {
				box-shadow: var(--box-shadow--glow);
			}
		}


		&__title {
			padding-inline: 0.75rem;
			font-size: var(--font-size--small);
			font-weight: 400;
			color: var(--text-color--gray);
		}

		&__link {
			padding-inline: 0.75rem;
			min-height: 2.5rem;
			display: flex;
			gap: 2rem;
			place-items: center;
			justify-content: space-between;
			gap: 0.5rem;
			border-radius: var(--corners--radius-small);
			color: var(--text-color--font);
			border: 1px solid transparent;
			// transition: background-color 0.3s ease;

			&:hover {
				border-color: var(--border-color--base);
				background-color: rgba(255, 255, 255, 0.1);
			}
		}

		&__link-index {
			font-size: 10px;
			width: 1.5em;
			height: 1.75em;
			display: flex;
			place-content: center;
			place-items: center;
			text-align: center;
			line-height: 1;
			border-radius: 0.25em;
			background-color: var(--background-color--gray);
			color: var(--text-color--alternative);
			opacity: 0.75;
		}
	}

	// Frame container
	&__frame-container {
		position: relative;
		box-shadow: var(--box-shadow--glow);
		border: 1px solid var(--border-color--base);
		border-radius: var(--corners--radius-medium);
		flex-grow: 1;
		display: flex;
		gap: 4rem;
		flex-direction: column;
		padding-inline: var(--section-padding--inline-medium);
		padding-block-start: var(--section-padding--block-medium);
		padding-block-end: var(--section-padding--inline-medium);
		// flex-shrink: 0;
		flex-grow: 1;

		// Media
		@media screen and (min-width: 480px) {
		}
		@media screen and (min-width: 768px) {
		}
	}

	&__background {
		position: absolute;
		top: 50%;
		transform: translateY(-50%) translateX(-50%);
		left: 50%;
		width: 100%;
		height: 100%;
		z-index: -1;
		place-self: center;
		color: var(--text-color--font);
		mask-image: radial-gradient(circle, black, rgba(0, 0, 0, 0) 95%);
		opacity: 0.5;
	}

	// Layout
	&__layout {
		display: flex;
		flex-direction: column;
		place-items: center;
		margin-block: auto;
		gap: 1.5rem;
	}

	&__heading-wrapper {
		display: flex;
		flex-direction: column;
		text-align: center;
		flex-grow: 1;
		flex-shrink: 0;
		gap: 1.25rem;
		// max-width: 80ch;
	}

	&__label {
		--size: 32px;

		display: flex;
		place-content: center;
		place-items: center;
		align-self: center;

		border-radius: var(--corners--radius-small);
		border: var(--border);

		padding-inline: 1em;
		padding-block: 0.5em;

		backdrop-filter: blur(10px);
		font-size: var(--font-size--small);
		font-weight: 200;
		line-height: 1;
		border: 1px solid var(--border-color--base);
		opacity: 1;
	}

	&__title-wrapper {
		background-clip: text;
		background-image: linear-gradient(
			0deg,
			var(--text-color--alternative) 0%,
			var(--text-color--font) 25%,
			var(--text-color--font) 75%,
			var(--text-color--alternative) 100%
		);
		padding-bottom: 0.5em;
	}

	&__title {
		display: flex;
		flex-direction: column;
		place-items: center;
		font-size: clamp(3rem, 12vw, 5rem);
		text-wrap: balance;
		color: transparent;
		font-weight: 400;
		line-height: 1;
		min-width: fit-content;

		@media screen and (min-width: 768px) {
			font-size: min(9vw, 7rem);
		}
	}

	&__details {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		flex-grow: 1;
		place-items: center;
		text-align: center;

		p {
			font-size: 1.25rem;
			font-weight: 400;
			text-wrap: pretty;
		}
	}

	&__actions {
		display: flex;
		gap: 1rem;
		padding-block-start: 1.5rem;
	}
}
